.to-register
{
    color: var(--color3);
    text-decoration: none;
    margin: auto;
    width: fit-content;
}

.to-register:hover
{
    cursor: pointer;
    color: white;
}

.error
{
    padding-left: 2px;
    color: rgba(239, 68, 68,1)
}