.title {
     display: flex;
     justify-content: center;
     background-color: var(--color2);
     width: 100%;
     height:auto;
     top: 0;
     text-align:center;
}
 .title h1 {
     color: white;
     text-decoration: none;
     padding: 15px 20px;
}
/* Estilos para a caixa de diálogo */
.dialog {
    position: fixed;
    bottom: 0;
    height:auto;
    width: -webkit-fill-available;
    background-color: var(--color2);
    padding: 20px;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
}
.dialog input[type=text] {
        width: 70%;
        padding: 12px 20px;
        margin: 10px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 20px;
        background-color: var(--color3);;
        color: white;
        font-size: 16px;
        outline: none;
        float:left;
        display: block; /* adicionando "block" para ocupar a largura completa do elemento pai */
}
    .dialog button {
        background-color: var(--color1);
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 15%;
        border-radius: 20px;
        font-size: 16px;
        outline: none;
        float: right;
        margin: 10px 6px;
    }
 .dialog button:hover {
     background-color: var(--color3);;
}
/* Estilos para as mensagens */
 .message-container {
     width:auto;
     height: 68%;
    margin-top: 35px;
     overflow-y: scroll;
     max-height: calc(100vh - 170px);     
}

.message {
    background-color: #f1f1f1;
    color: white;
    padding: 10px 20px;
    margin: 0px auto;
    border-radius: 10px;
    font-size: 16px;
    height: fit-content;
    margin-bottom: 10px;
    max-width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
 .message.user {
     background-color: var(--color1);
     text-align: right;
}
 .message.bot {
     background-color: var(--color2);
}
 ::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}
 ::-webkit-scrollbar-thumb {
     background-color: #ccc;
     border-radius: 4px;
}