.menu-container
{
    display: flex;
    flex-direction: column;
    width: 244px;
    height: 100%;
    padding: 8px;
    background-color: var(--color1);
}

.new-chat-button
{
    display: flex;
    background-color: var(--color1);
    color: white;
    height: 45.6px;
    margin: 0.8px;
    padding: 12px;
    border-style: solid;
    border-color: hsla(0,0%,100%,.2);
    border-width: 1px;
    border-radius: 0.375rem;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
}

.new-chat-button:hover
{
    background-color: var(--color2);
}

.new-chat-button  .plus-icon
{
    width: 16px;
    height: 16px;
}

.history-container
{
    width: 252px;
    margin-right: -8px;
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    overflow: hidden;
    text-overflow: ellipsis;
}

.history-container:hover
{
    overflow-y: auto;
}

.menu-link
{
    display: flex;
    box-sizing: border-box;
    background-color: var(--color1);
    color: white;
    width: 100%;
    height: 44px;
    padding: 12px 50px 12px 12px;
    border-width: 1px;
    border-radius: 0.375rem;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    
}

.menu-link:hover
{
    background-color: var(--color2);
}

.active
{
    background-color: var(--color3);
}

.perfil-container
{
    display: flex;
    background-color: var(--color1);
    height: 140px;
    width: 100%;
    padding-top: 8px;
    border-top-style: solid;
    border-width: 1px;
    border-color: hsla(0,0%,100%,.2);
}
